.register-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  background: linear-gradient(to bottom right, #f0fdf4, #d1fae5);
  padding: 25px;
  min-height: 100vh;
}

.header-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.logo-card {
  background-color: #16a34a;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 18px;
  border-radius: 50%;
}

.header-icon {
  font-size: 25px;
  color: #fff;
}

.header-section h1 {
  color: #000;
  font-size: 2rem;
  font-weight: 700;
}

.header-section p {
  color: #777;
  font-size: 1.2rem;
  font-weight: 400;
}

/* Form section */

.register-form {
  display: flex;
  flex-direction: column;
  gap: 28px;
  width: 460px;
  background-color: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.form-group label {
  font-size: 1.1rem;
  margin-bottom: 6px;
  color: #413b33;
  font-weight: 500;
}

.form-group input {
  background: transparent;
  border: 1px solid #d1d5db;
  padding: 18px 12px;
  font-size: 1.1rem;
  color: #0e0c0a;
  border-radius: 6px;
  outline: none;
}

.password-field {
  position: relative;
}

.toggle-password-icon {
  position: absolute;
  right: 18px;
  top: 45px;
  color: #999;
  font-size: 25px;
  cursor: pointer;
}

.form-group input::placeholder {
  color: #999;
}

.form-group input:focus {
  border-color: #15803d;
}

/* Terms and services text */
.terms-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.terms-checkbox[type="checkbox"] {
  accent-color: #16a34a; /* green when checked */
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.terms-text {
  font-size: 1.02rem;
  color: #999;
  font-weight: 400;
}

.terms-spl-text {
  color: #16a34a;
}

.submit-btn {
  background: #16a34a;
  color: #f0fdf4;
  border: none;
  padding: 18px 12px;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s ease;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.submit-btn:hover {
  background: #15803d;
}

@media screen and (max-width: 768px) {
  .register-form {
    width: 90%;
  }

  .form-group label {
    font-size: 0.9rem;
  }

  .form-group input {
    padding: 15px 12px;
    font-size: 1rem;
  }
  .toggle-password-icon {
    position: absolute;
    right: 18px;
    top: 36px;
  }
}
